@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #212529;
  scroll-behavior: smooth;
}
.mainHeading {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.social{
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #212529;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  color: #C9C8FF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 156%; /* 24.96px */
  letter-spacing: 1.52px;
}
.para {
  color: #C9C8FF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 156%; /* 24.96px */
  letter-spacing: 1.52px;
}
.navLinks {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.subHeading {
  color: #DAD9FF;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.sectionHeading {
  color: #FEA674;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.cardHeading {
  color: #DAD9FF;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.cardPara {
  color: #e0dffc;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 156%; /* 24.96px */
  letter-spacing: 1.52px;
}

.card {

  /* width: 481px; */
  /* height: 524px; */
  flex-shrink: 0;
  border-radius: 10px;
  background: #191820;
  box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.25),
    -3px -3px 18px 0px rgba(0, 0, 0, 0.25) inset;
}
.input{
  border-radius: 3px;
  background: #191820;
  box-shadow: 3px 3px 17px 0px rgba(0, 0, 0, 0.25), -3px -3px 18px 0px rgba(0, 0, 0, 0.25) inset;
}
